NODE_ENV=development
PORT=5000
ALLOWED_ORIGIN=http://localhost:5173
TRUST_PROXY_HOPS=1

# MongoDB Configuration
MONGODB_URI="mongodb://username:password@cluster-shard-00-00.mongodb.net:27017,cluster-shard-00-01.mongodb.net:27017,cluster-shard-00-02.mongodb.net:27017/?ssl=true&replicaSet=atlas-xxx-shard-0&authSource=admin&appName=verifitorweb"
MONGODB_DB_NAME=test
MONGODB_ALUMNI_COLLECTION=alumni
MONGODB_STUDENTS_COLLECTION=students
RUN_DB_MIGRATIONS=false
DISABLE_DB=false

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_ISSUER=verifitor
JWT_AUDIENCE=verifitor-mobile
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=30

# OTP Configuration
OTP_TTL_MINUTES=10
OTP_DEV_MODE=false

# External & Notification Services
NOTIFICATIONS_API_KEY=your_notifications_api_key

# Email (SMTP) Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_gmail_app_password"
SMTP_FROM="Verifitor <your_email@gmail.com>"
SMTP_EMAIL="your_email@gmail.com"
SMTP_PASSWORD="your_gmail_app_password"

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_URL=cloudinary://<KEY>:<SECRET>@<CLOUD_NAME>

# Frontend Web Portal URL
FRONTEND_URL=http://localhost:5173

# Web Portal Admin Default Passwords
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_SUPER_ADMIN_PASSWORD=sysadmin123

# Hyperledger Besu Blockchain Configuration (Required for Web Credential Anchoring)
BESU_RPC_URL="http://your.rpc.ip.address:8545"
CONTRACT_ADDRESS="0x..."
SERVER_WALLET_PRIVATE_KEY="your_wallet_private_key"
